{"openapi":"3.1.0","info":{"title":"WS.OEM REST API","version":"v2.0"},"servers":[{"url":"https://oem-api.yqservice.eu","description":"Generated server url"}],"paths":{"/restApi/v2/getVehicleInfo":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get vehicle info","operationId":"GETVEHICLEINFO_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleResponseV2"}}}}}}},"/restApi/v2/getUnits":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get units","operationId":"GETUNITS_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitsListResponseV2"}}}}}}},"/restApi/v2/getUnitParts":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get unit parts","operationId":"GETPARTS_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsSectionsResponseV2"}}}}}}},"/restApi/v2/getUnitInfo":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get unit info","operationId":"GETUNITINFO_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnitInfoResponseV2"}}}}}}},"/restApi/v2/getPartApplicability":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get part applicability","operationId":"GETPARTAPPLICABILITY_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterStatefullFormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsListByCategoryResponseV2"}}}}}}},"/restApi/v2/getOperationForm":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get operation form","operationId":"GETOPERATIONFORM_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationFormResponseV2"}}}}}}},"/restApi/v2/getNavigationTree":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get navigation tree","operationId":"GETCATEGORIESTREE_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NavigationTreeResponseV2"}}}}}}},"/restApi/v2/getGroups":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get groups tree","operationId":"GETGROUPS_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupsTreeResponseV2"}}}}}}},"/restApi/v2/getGroupParts":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get group parts","operationId":"GETGROUPPARTS_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsListByCategoryResponseV2"}}}}}}},"/restApi/v2/getGroupPartsAll":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get group parts all","operationId":"GETGROUPPARTS_V2_1","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsListByCategoryResponseV2"}}}}}}},"/restApi/v2/getFilter":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get filter","operationId":"GETFILTER_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterFormResponseV2"}}}}}}},"/restApi/v2/getCatalogShort":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get catalog short","operationId":"GETCATALOGSHORT_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogShortResponseV2"}}}}}}},"/restApi/v2/getCatalogInfo":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Get catalog info","operationId":"GETCATALOGINFO_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogInfoResponseV2"}}}}}}},"/restApi/v2/findVehicle":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"find vehicles by ident string","operationId":"FINDVEHICLE_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleListResponseV2"}}}}}}},"/restApi/v2/findVehicleOperation":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Find vehicle operation","operationId":"FINDVEHICLE_OPERATION_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleListResponseV2"}}}}}}},"/restApi/v2/findPartReferences":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Find part references","operationId":"FINDPARTREFERENCES_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartReferencesResponseV2"}}}}}}},"/restApi/v2/findApplicableVehicles":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"Find applicable vehicles","operationId":"FINDAPPLICABLEVEHICLES_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormDataRequestV2"}}},"required":true},"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleListResponseV2"}}}}}}},"/restApi/v2/catalogs":{"post":{"tags":["oem-rest-api-v-2-controller"],"summary":"List catalogs","operationId":"LISTCATALOGS_V2","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"406":{"description":"Not Acceptable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogListResponseV2"}}}}}}},"/restApi/v2/whoAreMeInfo":{"get":{"tags":["oem-rest-api-v-2-controller"],"summary":"Current user info","operationId":"whoAreMeInfo","parameters":[{"name":"Accept-Language","in":"header","description":"Preferred language","schema":{"type":"string"}},{"name":"X-API-KEY","in":"header","description":"API Key Authorization Header","schema":{"type":"string"}}],"responses":{"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestResponseV2Object"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponseV2"}}}}}}}},"components":{"schemas":{"ErrorDto":{"type":"object","properties":{"message":{"type":"string"},"requestId":{"type":"string"}}},"ErrorDtoV2":{"type":"object","properties":{"message":{"type":"string"},"requestId":{"type":"string"}}},"RestResponseV2Object":{"type":"object","discriminator":{"propertyName":"dataType"},"properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{},"dataType":{"type":"string"}},"required":["dataType"]},"FilterDataRequestV2":{"type":"object","properties":{"token":{"type":"string"},"filterValues":{"type":"array","items":{"$ref":"#/components/schemas/FormValueV2"}},"currentFilterState":{"type":"string"}}},"FormValueV2":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"example":{"type":"string"}}},"AttrNodeV2":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"children":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}},"type":{"type":"string","enum":["simple","simpleValue","composite","group"]}}},"BaseSysProperty":{"type":"object","properties":{"code":{"type":"string"},"value":{}}},"CheckboxV2":{"allOf":[{"$ref":"#/components/schemas/FieldV2"}]},"ExampleValueV2":{"type":"object","properties":{"description":{"type":"string"},"value":{"type":"string"}}},"FieldV2":{"type":"object","discriminator":{"propertyName":"type"},"properties":{"name":{"type":"string"},"value":{"type":"string"},"example":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"readonly":{"type":"boolean"},"required":{"type":"boolean"},"type":{"type":"string"}},"required":["type"]},"FormV2Dto":{"type":"object","properties":{"action":{"type":"string"},"updateFormAction":{"type":"string"},"label":{"type":"string"},"operationName":{"type":"string"},"description":{"type":"string"},"token":{"type":"string"},"fields":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/CheckboxV2"},{"$ref":"#/components/schemas/InputFieldV2"},{"$ref":"#/components/schemas/SelectV2"}]}}}},"InputFieldV2":{"allOf":[{"$ref":"#/components/schemas/FieldV2"},{"type":"object","properties":{"pattern":{"type":"string"},"examples":{"type":"array","items":{"$ref":"#/components/schemas/ExampleValueV2"}}}}]},"LinkV2Dto":{"type":"object","properties":{"action":{"type":"string"},"label":{"type":"string"},"token":{"type":"string"}}},"NavigationLinkV2Dto":{"type":"object","properties":{"action":{"type":"string"},"label":{"type":"string"},"token":{"type":"string"},"code":{"type":"string"}}},"OptionV2":{"type":"object","properties":{"value":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"selected":{"type":"boolean"}}},"SelectV2":{"allOf":[{"$ref":"#/components/schemas/FieldV2"},{"type":"object","properties":{"options":{"type":"array","items":{"$ref":"#/components/schemas/OptionV2"}},"multiple":{"type":"boolean"}}}]},"VehicleResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/VehicleV2Dto"},"currentFilterState":{"type":"string"}}},"VehicleV2Dto":{"type":"object","properties":{"navigationLinks":{"type":"array","items":{"$ref":"#/components/schemas/NavigationLinkV2Dto"}},"type":{"type":"string","enum":["UNDEFINED","PASSENGER","COMMERCIAL","MOTO"]},"brand":{"type":"string"},"model":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}},"sysProperties":{"type":"array","items":{"$ref":"#/components/schemas/BaseSysProperty"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"token":{"type":"string"},"forms":{"type":"array","items":{"$ref":"#/components/schemas/FormV2Dto"}}}},"UnitShortListV2Dto":{"type":"object","properties":{"units":{"type":"array","items":{"$ref":"#/components/schemas/UnitShortV2Dto"}}}},"UnitShortV2Dto":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"token":{"type":"string"},"imageNames":{"type":"array","items":{"type":"string"}},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}}}},"UnitsListResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/UnitShortListV2Dto"},"currentFilterState":{"type":"string"}}},"MeasuredValue":{"type":"object","properties":{"value":{"type":"number"},"units":{"type":"string"},"note":{"type":"string"}}},"PartSectionV2Dto":{"type":"object","properties":{"title":{"type":"string"},"parts":{"type":"array","items":{"$ref":"#/components/schemas/PartV2Dto"}}}},"PartSectionsListV2Dto":{"type":"object","properties":{"partSections":{"type":"array","items":{"$ref":"#/components/schemas/PartSectionV2Dto"}}}},"PartV2Dto":{"type":"object","properties":{"partNumber":{"type":"string"},"partName":{"type":"string"},"qty":{"$ref":"#/components/schemas/MeasuredValue"},"partNumberFormatted":{"type":"string"},"displayName":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}},"areaCode":{"type":"string"},"refs":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"related":{"$ref":"#/components/schemas/PartSectionV2Dto"},"matched":{"type":"boolean"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}}}},"PartsSectionsResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/PartSectionsListV2Dto"},"currentFilterState":{"type":"string"}}},"ImageMapAreaV2Dto":{"type":"object","properties":{"x1":{"type":"integer","format":"int32"},"y1":{"type":"integer","format":"int32"},"x2":{"type":"integer","format":"int32"},"y2":{"type":"integer","format":"int32"},"areaCode":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}}}},"ImageMapV2Dto":{"type":"object","properties":{"imageName":{"type":"string"},"areas":{"type":"array","items":{"$ref":"#/components/schemas/ImageMapAreaV2Dto"}}}},"UnitInfoResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/UnitV2Dto"},"currentFilterState":{"type":"string"}}},"UnitV2Dto":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"token":{"type":"string"},"imageMaps":{"type":"array","items":{"$ref":"#/components/schemas/ImageMapV2Dto"}},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}}}},"FilterStatefullFormDataRequestV2":{"type":"object","properties":{"token":{"type":"string"},"formValues":{"type":"array","items":{"$ref":"#/components/schemas/FormValueV2"}},"filterValues":{"type":"array","items":{"$ref":"#/components/schemas/FormValueV2"}},"currentFilterState":{"type":"string"}}},"CategoryShortV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}}}},"PartsByCategoryV2Dto":{"type":"object","properties":{"category":{"$ref":"#/components/schemas/CategoryShortV2Dto"},"units":{"type":"array","items":{"$ref":"#/components/schemas/PartsByUnitV2Dto"}}}},"PartsByUnitV2Dto":{"type":"object","properties":{"unit":{"$ref":"#/components/schemas/UnitShortV2Dto"},"partSections":{"type":"array","items":{"$ref":"#/components/schemas/PartSectionV2Dto"}}}},"PartsListByCategoryResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/PartsListByCategoryV2Dto"},"currentFilterState":{"type":"string"}}},"PartsListByCategoryV2Dto":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/components/schemas/PartsByCategoryV2Dto"}},"filter":{"$ref":"#/components/schemas/FormV2Dto"}}},"FormDataRequestV2":{"type":"object","properties":{"token":{"type":"string"},"formValues":{"type":"array","items":{"$ref":"#/components/schemas/FormValueV2"}}}},"OperationFormResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/FormV2Dto"}}},"CategoryNodeV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"children":{"type":"array","items":{"$ref":"#/components/schemas/CategoryNodeV2Dto"}}}},"NavigationTreeResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/CategoryNodeV2Dto"},"currentFilterState":{"type":"string"}}},"GroupNodeV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"children":{"type":"array","items":{"$ref":"#/components/schemas/CategoryNodeV2Dto"}},"synonyms":{"type":"string"}}},"GroupsTreeResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/GroupNodeV2Dto"},"currentFilterState":{"type":"string"}}},"FilterFormResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/FormV2Dto"},"currentFilterState":{"type":"string"}}},"RequestV2":{"type":"object","properties":{"token":{"type":"string"}}},"CatalogShortResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/CatalogShortV2Dto"}}},"CatalogShortV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"brand":{"type":"string"},"archived":{"type":"boolean"}}},"CatalogInfoResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/CatalogInfoV2Dto"}}},"CatalogInfoV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"brand":{"type":"string"},"archived":{"type":"boolean"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"forms":{"type":"array","items":{"$ref":"#/components/schemas/FormV2Dto"}}}},"PartShortListResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/PartShortListV2Dto"},"currentFilterState":{"type":"string"}}},"PartShortListV2Dto":{"type":"object","properties":{"brand":{"type":"string"},"parts":{"type":"array","items":{"$ref":"#/components/schemas/PartShortV2"}}}},"PartShortV2":{"type":"object","properties":{"partNumber":{"type":"string"},"partName":{"type":"string"}}},"VehicleListResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/VehicleListV2Dto"}}},"VehicleListV2Dto":{"type":"object","properties":{"vehicles":{"type":"array","items":{"$ref":"#/components/schemas/VehicleShortV2Dto"}}}},"VehicleShortV2Dto":{"type":"object","properties":{"navigationLinks":{"type":"array","items":{"$ref":"#/components/schemas/NavigationLinkV2Dto"}},"type":{"type":"string","enum":["UNDEFINED","PASSENGER","COMMERCIAL","MOTO"]},"brand":{"type":"string"},"model":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/AttrNodeV2"}},"sysProperties":{"type":"array","items":{"$ref":"#/components/schemas/BaseSysProperty"}},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}},"token":{"type":"string"}}},"CatalogV2Dto":{"type":"object","properties":{"token":{"type":"string"},"name":{"type":"string"},"brand":{"type":"string"},"archived":{"type":"boolean"},"links":{"type":"array","items":{"$ref":"#/components/schemas/LinkV2Dto"}}}},"PartReferencesListV2Dto":{"type":"object","properties":{"partReferences":{"type":"array","items":{"$ref":"#/components/schemas/PartReferencesV2Dto"}}}},"PartReferencesResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/PartReferencesListV2Dto"}}},"PartReferencesV2Dto":{"type":"object","properties":{"partNumber":{"type":"string"},"partName":{"type":"string"},"catalogs":{"type":"array","items":{"$ref":"#/components/schemas/CatalogV2Dto"}}}},"BooleanResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"type":"boolean"}}},"CatalogListResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/CatalogListV2Dto"}}},"CatalogListV2Dto":{"type":"object","properties":{"catalogs":{"type":"array","items":{"$ref":"#/components/schemas/CatalogV2Dto"}},"forms":{"type":"array","items":{"$ref":"#/components/schemas/FormV2Dto"}}}},"CustomerDto":{"type":"object","properties":{"login":{"type":"string"}}},"CustomerResponseV2":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorDtoV2"},"data":{"$ref":"#/components/schemas/CustomerDto"}}}}}}